<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dexhand">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dexhand urdf file -->
    <xacro:include filename="$(find dexhand_description)/urdf/dexhand.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="dexhand.ros2_control.xacro" />


    <xacro:dexhand_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
